html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  margin: 0 ;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(219, 229, 233);
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.container {
  border: 1px solid black; /*border for time*/
  max-width:1440px;
  margin: 0 auto;
}
.nav-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-shadow: 10px;
  transition: .3s;
}
.exp-link {
  text-shadow: 10px;
  transition: .3s;
  font-weight:600;
}
a {
  color: #ba9b00;
  text-decoration: none;
  transition: color 0.5s;
}
a:hover {
  color: #0020d8;
  text-decoration: underline;
}
.code {
  font-size: 20px;
  font-style: italic;
  padding: 20px;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
  border: 1px solid rgb(122, 9, 9); /*border for time*/
}
@media (max-width: 768px) { /*if width 768px = section takes all screen*/
  .section {
    width: 100%;
  }
}
.section-title { /*titles styles*/
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #000000;
}
